<mat-card class="tabela">
    <div class="colunas">
        <app-colunas [aColunas]="colunas"></app-colunas>
    </div>
    <div class="registros">
        <ng-container>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
            <app-registro [aCampos]="colunas" class="registro"></app-registro>
        </ng-container>
    </div>
</mat-card>
