div{
    overflow: hidden;
}

.graph1{
    position: relative;
    bottom: 0px;
    right: 140px;
    width: 600px;
}

.graph2{
    position: relative;
    bottom: 0px;
    right: -600px;
    width: 600px;
}