<div class="tabela-e-atores">
  
  <div class="tabela">
    <app-tabela></app-tabela>
  </div>

  <div class="atores">
    <div class="botoes-atores">
      <app-botao-ator [acao]="'delete'" class="botao-ator"></app-botao-ator>
      <app-botao-ator [acao]="'edit'" class="botao-ator"></app-botao-ator>
      <app-botao-ator [acao]="'add'" class="botao-ator"></app-botao-ator>
    </div>

    <mat-form-field class="seletor" appearance="fill">
      <mat-label>Campos</mat-label>
      <mat-select [(value)]="selected" multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</div>
